@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

:root {
    font-family: $font-primary;
    line-height: $line-height-base;
    font-weight: $font-weight-normal;

    @include font-smoothing();
}

button[disabled] {
    cursor: not-allowed;
}